.cars-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;

}
.cars-item-image {
    width: 100%;
    height: 100%;
    border-radius:15px 15px 0px 0px;
    padding: auto;
}
.cars-item-info{
    padding: auto;
}
.cars-item-name p{
    font-size: 20px;
    font-weight: 500;
}
.cars-item-description{
    color: #676767;
    font-size: 12px;
}
.cars-item-price{
    color: goldenrod;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0px;
}
.categorie-couleur{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cars-category{
    font-size: 12px;
    font-style: italic;
    color: blanchedalmond;
}
.cars-item-color{
    font-size: 12px;
}


.cars-item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

