/* components/Icons.module.css */
.responsiveIcon {
  width: 32px;
  color: aliceblue;
  transition: all 0.2s ease;
}

@media (min-width: 640px) {
  .responsiveIcon {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 768px) {
  .responsiveIcon {
    width: 22px;
    height: 22px;
  }
}

@media (min-width: 1024px) {
  .responsiveIcon {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 992px) {
    .responsiveIcon {
    width: 25px;
    height: 25px;
}
}