.hero-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("/assets/19.jpg");
  background-size: cover;
  padding: 0 60px;
  border-radius: 20px;
  overflow: hidden;
}

/* TEXTE */
.hero-text {
  width: 100%;
  font-size: 30px;
  color: white;
}

.hero-text h1 {
  font-size: 65px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
}

.gradient{
  background: linear-gradient(45deg,ff0000,ff9900);
  -webkit-background-clip: text;
  font-size: 80px;
  color:rgb(58, 212, 218);
}

.hero-text p {
  width: 100%;
  font-size: 17px;
  line-height: 1.5;
  opacity: 0.9;
  margin-bottom: 30px;
}

/* BOUTON */
.hero-btn {
  padding: 14px 50px;
  background-color: white;
  color: #2dc4d8;
  border: none;
  border-radius: 30px;
  font-weight: 1000;
  font-size: 16px;
  cursor:pointer;
  transition: 0.1s;
}

.hero-btn:hover {
  background-color: #ffe4d3;
}

/* IMAGE */
.hero-image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 90%;
  max-width: 650px;
  border-radius: 20px;
  object-fit: cover;
}

.fade-in{
  opacity: 0;
  animation: fade 10s forwards ease-in-out;
}
@keyframes fade{
  to {opacity: 1;}
}