.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: black;
  padding: 30px 40px; 
}

.footer-left {
  flex: 1;
}

.logo-footer {
  max-width: 300px; 
  height: auto;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  flex: 1; 
}

.footer-nav {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.footer-nav a {
  color: #fff; 
  text-decoration: none; 
  font-size: 1.3rem;
}

.footer-socials {
  display: flex;
  gap: 60px;
}

.footer-socials img {
  width: 80px;
  height: 80px; 
}


@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  
  .footer-right {
    align-items: center; 
  }
}
