#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(135deg, #025ca6, #0d1b2a);
  color: var(--text-light);
}

#root, html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}