:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --primary-color: #42a5f5;        /* Bleu ciel */
  --secondary-color: #0d1b2a;      /* Bleu nuit */
  --accent-color: #1565c0;         /* Bleu vif pour boutons et texte */
  --text-light: #ffffff;
  --text-dark: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: none;
  animation: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, white, #0d1b2a);
  color: var(--text-light);
  overflow-x: hidden;
}

.typewriter p,
.fade img {
  animation: inherit;
  transition: inherit;
}

html {
  scroll-behavior: auto;
}

a {
  font-weight: 500;
  color: var(--text-light);
  text-decoration: none;
}
a:hover {
  color: var(--accent-color);
}