.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    white-space: normal;
    overflow-x: auto;
    padding: 0 10%;
}
.popular h2{
    color: black;
    font-size: 50px;
    font-weight: 600;

}
.popular hr{
    width: 100%;
    height: 6px;
    border: none;
    background: #252525;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap:auto;
    padding: 0 10%;
    ::-webkit-scrollbar {
        display: none;
    }
}

.popular-item >*{
    flex: 0 0 20%;
    cursor: pointer;
    transition: transform 0.3s ease;}
@media (max-width:1024px) {
    .popular-item{
        overflow-x: scroll;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: auto;
        padding: 0 20px;
       
    }
    .popular h2{
        font-size: 30px;
    }
    .popular hr{
        width: 150px;
        height: 4px;
    }
}

.popular-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
@media (max-width:768px) {
    .popular-item img{
        grid-template-columns: 1fr;
        padding: 0 5%;
        .popular h2{
            font-size: 25px;
            margin-bottom: 20px;
        }
    }
}
.popular-item img:hover{
    transform: scale(1.05);
}